<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>weatherColorPalettes</key>
	<dict>
		<key>cloudy_day</key>
		<dict>
			<key>weather</key>
			<array>
				<string>113</string>
				<string>116</string>
			</array>
			<key>timeOfDay</key>
			<string>day</string>
			<key>backgroundColor</key>
			<dict>
				<key>red</key>
				<integer>176</integer>
				<key>green</key>
				<integer>185</integer>
				<key>blue</key>
				<integer>191</integer>
				<key>alpha</key>
				<real>1</real>
			</dict>
			<key>overlayColor</key>
			<dict>
				<key>red</key>
				<integer>115</integer>
				<key>green</key>
				<integer>141</integer>
				<key>blue</key>
				<integer>158</integer>
				<key>alpha</key>
				<real>0.3</real>
			</dict>
		</dict>
		<key>cloudy_evening</key>
		<dict>
			<key>weather</key>
			<array>
				<string>113</string>
				<string>116</string>
			</array>
			<key>timeOfDay</key>
			<string>evening</string>
			<key>backgroundColor</key>
			<dict>
				<key>red</key>
				<integer>119</integer>
				<key>green</key>
				<integer>139</integer>
				<key>blue</key>
				<integer>152</integer>
				<key>alpha</key>
				<real>1</real>
			</dict>
			<key>overlayColor</key>
			<dict>
				<key>red</key>
				<integer>82</integer>
				<key>green</key>
				<integer>107</integer>
				<key>blue</key>
				<integer>124</integer>
				<key>alpha</key>
				<real>0.3</real>
			</dict>
		</dict>
		<key>cloudy_latenight</key>
		<dict>
			<key>weather</key>
			<array>
				<string>113</string>
				<string>116</string>
			</array>
			<key>timeOfDay</key>
			<string>latenight</string>
			<key>backgroundColor</key>
			<dict>
				<key>red</key>
				<integer>64</integer>
				<key>green</key>
				<integer>75</integer>
				<key>blue</key>
				<integer>79</integer>
				<key>alpha</key>
				<real>1</real>
			</dict>
			<key>overlayColor</key>
			<dict>
				<key>red</key>
				<integer>56</integer>
				<key>green</key>
				<integer>67</integer>
				<key>blue</key>
				<integer>71</integer>
				<key>alpha</key>
				<real>1</real>
			</dict>
		</dict>
		<key>foggy_day</key>
		<dict>
			<key>weather</key>
			<array>
				<string>143</string>
				<string>248</string>
				<string>260</string>
			</array>
			<key>timeOfDay</key>
			<string>day</string>
			<key>backgroundColor</key>
			<dict>
				<key>red</key>
				<integer>190</integer>
				<key>green</key>
				<integer>181</integer>
				<key>blue</key>
				<integer>151</integer>
				<key>alpha</key>
				<real>1</real>
			</dict>
			<key>overlayColor</key>
			<dict>
				<key>red</key>
				<integer>160</integer>
				<key>green</key>
				<integer>149</integer>
				<key>blue</key>
				<integer>115</integer>
				<key>alpha</key>
				<real>0.3</real>
			</dict>
		</dict>
		<key>foggy_evening</key>
		<dict>
			<key>weather</key>
			<array>
				<string>143</string>
				<string>248</string>
				<string>260</string>
			</array>
			<key>timeOfDay</key>
			<string>evening</string>
			<key>backgroundColor</key>
			<dict>
				<key>red</key>
				<integer>175</integer>
				<key>green</key>
				<integer>165</integer>
				<key>blue</key>
				<integer>131</integer>
				<key>alpha</key>
				<real>1</real>
			</dict>
			<key>overlayColor</key>
			<dict>
				<key>red</key>
				<integer>140</integer>
				<key>green</key>
				<integer>130</integer>
				<key>blue</key>
				<integer>98</integer>
				<key>alpha</key>
				<real>0.3</real>
			</dict>
		</dict>
		<key>foggy_latenight</key>
		<dict>
			<key>weather</key>
			<array>
				<string>143</string>
				<string>248</string>
				<string>260</string>
			</array>
			<key>timeOfDay</key>
			<string>latenight</string>
			<key>backgroundColor</key>
			<dict>
				<key>red</key>
				<integer>175</integer>
				<key>green</key>
				<integer>165</integer>
				<key>blue</key>
				<integer>131</integer>
				<key>alpha</key>
				<real>1</real>
			</dict>
			<key>overlayColor</key>
			<dict>
				<key>red</key>
				<integer>140</integer>
				<key>green</key>
				<integer>130</integer>
				<key>blue</key>
				<integer>98</integer>
				<key>alpha</key>
				<real>0.3</real>
			</dict>
		</dict>
		<key>icy_day</key>
		<dict>
			<key>weather</key>
			<array>
				<string>179</string>
				<string>182</string>
				<string>185</string>
				<string>281</string>
				<string>284</string>
				<string>311</string>
				<string>314</string>
				<string>317</string>
				<string>350</string>
				<string>362</string>
				<string>365</string>
				<string>374</string>
				<string>377</string>
			</array>
			<key>timeOfDay</key>
			<string>day</string>
			<key>backgroundColor</key>
			<dict>
				<key>red</key>
				<integer>187</integer>
				<key>green</key>
				<integer>193</integer>
				<key>blue</key>
				<integer>196</integer>
				<key>alpha</key>
				<real>1</real>
			</dict>
			<key>overlayColor</key>
			<dict>
				<key>red</key>
				<integer>155</integer>
				<key>green</key>
				<integer>159</integer>
				<key>blue</key>
				<integer>163</integer>
				<key>alpha</key>
				<real>0.3</real>
			</dict>
		</dict>
		<key>icy_evening</key>
		<dict>
			<key>weather</key>
			<array>
				<string>179</string>
				<string>182</string>
				<string>185</string>
				<string>281</string>
				<string>284</string>
				<string>311</string>
				<string>314</string>
				<string>317</string>
				<string>350</string>
				<string>362</string>
				<string>365</string>
				<string>374</string>
				<string>377</string>
			</array>
			<key>timeOfDay</key>
			<string>evening</string>
			<key>backgroundColor</key>
			<dict>
				<key>red</key>
				<integer>136</integer>
				<key>green</key>
				<integer>141</integer>
				<key>blue</key>
				<integer>143</integer>
				<key>alpha</key>
				<real>1</real>
			</dict>
			<key>overlayColor</key>
			<dict>
				<key>red</key>
				<integer>102</integer>
				<key>green</key>
				<integer>105</integer>
				<key>blue</key>
				<integer>107</integer>
				<key>alpha</key>
				<real>0.3</real>
			</dict>
		</dict>
		<key>icy_latenight</key>
		<dict>
			<key>weather</key>
			<array>
				<string>179</string>
				<string>182</string>
				<string>185</string>
				<string>281</string>
				<string>284</string>
				<string>311</string>
				<string>314</string>
				<string>317</string>
				<string>350</string>
				<string>362</string>
				<string>365</string>
				<string>374</string>
				<string>377</string>
			</array>
			<key>timeOfDay</key>
			<string>latenight</string>
			<key>backgroundColor</key>
			<dict>
				<key>red</key>
				<integer>136</integer>
				<key>green</key>
				<integer>141</integer>
				<key>blue</key>
				<integer>143</integer>
				<key>alpha</key>
				<real>1</real>
			</dict>
			<key>overlayColor</key>
			<dict>
				<key>red</key>
				<integer>102</integer>
				<key>green</key>
				<integer>105</integer>
				<key>blue</key>
				<integer>107</integer>
				<key>alpha</key>
				<real>0.3</real>
			</dict>
		</dict>
		<key>rainy_day</key>
		<dict>
			<key>weather</key>
			<array>
				<string>176</string>
				<string>263</string>
				<string>266</string>
				<string>293</string>
				<string>296</string>
				<string>299</string>
				<string>302</string>
				<string>305</string>
				<string>308</string>
				<string>353</string>
				<string>356</string>
				<string>359</string>
			</array>
			<key>timeOfDay</key>
			<string>day</string>
			<key>backgroundColor</key>
			<dict>
				<key>red</key>
				<integer>98</integer>
				<key>green</key>
				<integer>117</integer>
				<key>blue</key>
				<integer>123</integer>
				<key>alpha</key>
				<real>1</real>
			</dict>
			<key>overlayColor</key>
			<dict>
				<key>red</key>
				<integer>68</integer>
				<key>green</key>
				<integer>86</integer>
				<key>blue</key>
				<integer>97</integer>
				<key>alpha</key>
				<real>0.3</real>
			</dict>
		</dict>
		<key>rainy_evening</key>
		<dict>
			<key>weather</key>
			<array>
				<string>176</string>
				<string>263</string>
				<string>266</string>
				<string>293</string>
				<string>296</string>
				<string>299</string>
				<string>302</string>
				<string>305</string>
				<string>308</string>
				<string>353</string>
				<string>356</string>
				<string>359</string>
			</array>
			<key>timeOfDay</key>
			<string>evening</string>
			<key>backgroundColor</key>
			<dict>
				<key>red</key>
				<integer>83</integer>
				<key>green</key>
				<integer>97</integer>
				<key>blue</key>
				<integer>102</integer>
				<key>alpha</key>
				<real>1</real>
			</dict>
			<key>overlayColor</key>
			<dict>
				<key>red</key>
				<integer>60</integer>
				<key>green</key>
				<integer>76</integer>
				<key>blue</key>
				<integer>82</integer>
				<key>alpha</key>
				<real>0.3</real>
			</dict>
		</dict>
		<key>rainy_latenight</key>
		<dict>
			<key>weather</key>
			<array>
				<string>176</string>
				<string>263</string>
				<string>266</string>
				<string>293</string>
				<string>296</string>
				<string>299</string>
				<string>302</string>
				<string>305</string>
				<string>308</string>
				<string>353</string>
				<string>356</string>
				<string>359</string>
			</array>
			<key>timeOfDay</key>
			<string>latenight</string>
			<key>backgroundColor</key>
			<dict>
				<key>red</key>
				<integer>83</integer>
				<key>green</key>
				<integer>97</integer>
				<key>blue</key>
				<integer>102</integer>
				<key>alpha</key>
				<real>1</real>
			</dict>
			<key>overlayColor</key>
			<dict>
				<key>red</key>
				<integer>60</integer>
				<key>green</key>
				<integer>76</integer>
				<key>blue</key>
				<integer>82</integer>
				<key>alpha</key>
				<real>0.3</real>
			</dict>
		</dict>
		<key>snowy_day</key>
		<dict>
			<key>weather</key>
			<array>
				<string>227</string>
				<string>230</string>
				<string>320</string>
				<string>323</string>
				<string>326</string>
				<string>329</string>
				<string>332</string>
				<string>335</string>
				<string>338</string>
				<string>368</string>
				<string>371</string>
				<string>392</string>
				<string>395</string>
			</array>
			<key>timeOfDay</key>
			<string>day</string>
			<key>backgroundColor</key>
			<dict>
				<key>red</key>
				<integer>166</integer>
				<key>green</key>
				<integer>187</integer>
				<key>blue</key>
				<integer>206</integer>
				<key>alpha</key>
				<real>1</real>
			</dict>
			<key>overlayColor</key>
			<dict>
				<key>red</key>
				<integer>123</integer>
				<key>green</key>
				<integer>150</integer>
				<key>blue</key>
				<integer>174</integer>
				<key>alpha</key>
				<real>0.3</real>
			</dict>
		</dict>
		<key>snowy_evening</key>
		<dict>
			<key>weather</key>
			<array>
				<string>227</string>
				<string>230</string>
				<string>320</string>
				<string>323</string>
				<string>326</string>
				<string>329</string>
				<string>332</string>
				<string>335</string>
				<string>338</string>
				<string>368</string>
				<string>371</string>
				<string>392</string>
				<string>395</string>
			</array>
			<key>timeOfDay</key>
			<string>evening</string>
			<key>backgroundColor</key>
			<dict>
				<key>red</key>
				<integer>121</integer>
				<key>green</key>
				<integer>140</integer>
				<key>blue</key>
				<integer>156</integer>
				<key>alpha</key>
				<real>1</real>
			</dict>
			<key>overlayColor</key>
			<dict>
				<key>red</key>
				<integer>90</integer>
				<key>green</key>
				<integer>103</integer>
				<key>blue</key>
				<integer>115</integer>
				<key>alpha</key>
				<real>0.3</real>
			</dict>
		</dict>
		<key>snowy_latenight</key>
		<dict>
			<key>weather</key>
			<array>
				<string>227</string>
				<string>230</string>
				<string>320</string>
				<string>323</string>
				<string>326</string>
				<string>329</string>
				<string>332</string>
				<string>335</string>
				<string>338</string>
				<string>368</string>
				<string>371</string>
				<string>392</string>
				<string>395</string>
			</array>
			<key>timeOfDay</key>
			<string>latenight</string>
			<key>backgroundColor</key>
			<dict>
				<key>red</key>
				<integer>121</integer>
				<key>green</key>
				<integer>140</integer>
				<key>blue</key>
				<integer>156</integer>
				<key>alpha</key>
				<real>1</real>
			</dict>
			<key>overlayColor</key>
			<dict>
				<key>red</key>
				<integer>90</integer>
				<key>green</key>
				<integer>103</integer>
				<key>blue</key>
				<integer>115</integer>
				<key>alpha</key>
				<real>0.3</real>
			</dict>
		</dict>
		<key>stormy_day</key>
		<dict>
			<key>weather</key>
			<array>
				<string>200</string>
				<string>386</string>
				<string>389</string>
			</array>
			<key>timeOfDay</key>
			<string>day</string>
			<key>backgroundColor</key>
			<dict>
				<key>red</key>
				<integer>71</integer>
				<key>green</key>
				<integer>80</integer>
				<key>blue</key>
				<integer>100</integer>
				<key>alpha</key>
				<real>1</real>
			</dict>
			<key>overlayColor</key>
			<dict>
				<key>red</key>
				<integer>49</integer>
				<key>green</key>
				<integer>49</integer>
				<key>blue</key>
				<integer>70</integer>
				<key>alpha</key>
				<real>0.3</real>
			</dict>
		</dict>
		<key>stormy_evening</key>
		<dict>
			<key>weather</key>
			<array>
				<string>200</string>
				<string>386</string>
				<string>389</string>
			</array>
			<key>timeOfDay</key>
			<string>evening</string>
			<key>backgroundColor</key>
			<dict>
				<key>red</key>
				<integer>62</integer>
				<key>green</key>
				<integer>74</integer>
				<key>blue</key>
				<integer>101</integer>
				<key>alpha</key>
				<real>1</real>
			</dict>
			<key>overlayColor</key>
			<dict>
				<key>red</key>
				<integer>42</integer>
				<key>green</key>
				<integer>51</integer>
				<key>blue</key>
				<integer>84</integer>
				<key>alpha</key>
				<real>0.3</real>
			</dict>
		</dict>
		<key>stormy_latenight</key>
		<dict>
			<key>weather</key>
			<array>
				<string>200</string>
				<string>386</string>
				<string>389</string>
			</array>
			<key>timeOfDay</key>
			<string>latenight</string>
			<key>backgroundColor</key>
			<dict>
				<key>red</key>
				<integer>42</integer>
				<key>green</key>
				<integer>52</integer>
				<key>blue</key>
				<integer>74</integer>
				<key>alpha</key>
				<real>1</real>
			</dict>
			<key>overlayColor</key>
			<dict>
				<key>red</key>
				<integer>36</integer>
				<key>green</key>
				<integer>46</integer>
				<key>blue</key>
				<integer>66</integer>
				<key>alpha</key>
				<real>1</real>
			</dict>
		</dict>
		<key>windy_day</key>
		<dict>
			<key>weather</key>
			<array>
				<string>119</string>
				<string>122</string>
			</array>
			<key>timeOfDay</key>
			<string>day</string>
			<key>backgroundColor</key>
			<dict>
				<key>red</key>
				<integer>119</integer>
				<key>green</key>
				<integer>103</integer>
				<key>blue</key>
				<integer>80</integer>
				<key>alpha</key>
				<real>1</real>
			</dict>
			<key>overlayColor</key>
			<dict>
				<key>red</key>
				<integer>78</integer>
				<key>green</key>
				<integer>66</integer>
				<key>blue</key>
				<integer>49</integer>
				<key>alpha</key>
				<real>0.3</real>
			</dict>
		</dict>
		<key>windy_evening</key>
		<dict>
			<key>weather</key>
			<array>
				<string>119</string>
				<string>122</string>
			</array>
			<key>timeOfDay</key>
			<string>evening</string>
			<key>backgroundColor</key>
			<dict>
				<key>red</key>
				<integer>98</integer>
				<key>green</key>
				<integer>79</integer>
				<key>blue</key>
				<integer>53</integer>
				<key>alpha</key>
				<real>1</real>
			</dict>
			<key>overlayColor</key>
			<dict>
				<key>red</key>
				<integer>71</integer>
				<key>green</key>
				<integer>58</integer>
				<key>blue</key>
				<integer>40</integer>
				<key>alpha</key>
				<real>0.3</real>
			</dict>
		</dict>
		<key>windy_latenight</key>
		<dict>
			<key>weather</key>
			<array>
				<string>119</string>
				<string>122</string>
			</array>
			<key>timeOfDay</key>
			<string>latenight</string>
			<key>backgroundColor</key>
			<dict>
				<key>red</key>
				<integer>98</integer>
				<key>green</key>
				<integer>79</integer>
				<key>blue</key>
				<integer>53</integer>
				<key>alpha</key>
				<real>1</real>
			</dict>
			<key>overlayColor</key>
			<dict>
				<key>red</key>
				<integer>71</integer>
				<key>green</key>
				<integer>58</integer>
				<key>blue</key>
				<integer>40</integer>
				<key>alpha</key>
				<real>0.3</real>
			</dict>
		</dict>
	</dict>
	<key>genericColorPalettes</key>
	<dict>
		<key>generic_1</key>
		<dict>
			<key>timeOfDay</key>
			<string>evening</string>
			<key>backgroundColor</key>
			<dict>
				<key>red</key>
				<integer>184</integer>
				<key>green</key>
				<integer>114</integer>
				<key>blue</key>
				<integer>106</integer>
				<key>alpha</key>
				<real>1</real>
			</dict>
			<key>overlayColor</key>
			<dict>
				<key>red</key>
				<integer>134</integer>
				<key>green</key>
				<integer>67</integer>
				<key>blue</key>
				<integer>59</integer>
				<key>alpha</key>
				<real>0.3</real>
			</dict>
		</dict>
		<key>generic_2</key>
		<dict>
			<key>timeOfDay</key>
			<string>evening</string>
			<key>backgroundColor</key>
			<dict>
				<key>red</key>
				<integer>95</integer>
				<key>green</key>
				<integer>127</integer>
				<key>blue</key>
				<integer>164</integer>
				<key>alpha</key>
				<real>1</real>
			</dict>
			<key>overlayColor</key>
			<dict>
				<key>red</key>
				<integer>55</integer>
				<key>green</key>
				<integer>87</integer>
				<key>blue</key>
				<integer>127</integer>
				<key>alpha</key>
				<real>0.3</real>
			</dict>
		</dict>
		<key>generic_3</key>
		<dict>
			<key>timeOfDay</key>
			<string>evening</string>
			<key>backgroundColor</key>
			<dict>
				<key>red</key>
				<integer>209</integer>
				<key>green</key>
				<integer>178</integer>
				<key>blue</key>
				<integer>109</integer>
				<key>alpha</key>
				<real>1</real>
			</dict>
			<key>overlayColor</key>
			<dict>
				<key>red</key>
				<integer>192</integer>
				<key>green</key>
				<integer>128</integer>
				<key>blue</key>
				<integer>59</integer>
				<key>alpha</key>
				<real>0.3</real>
			</dict>
		</dict>
		<key>generic_4</key>
		<dict>
			<key>timeOfDay</key>
			<string>evening</string>
			<key>backgroundColor</key>
			<dict>
				<key>red</key>
				<integer>131</integer>
				<key>green</key>
				<integer>178</integer>
				<key>blue</key>
				<integer>171</integer>
				<key>alpha</key>
				<real>1</real>
			</dict>
			<key>overlayColor</key>
			<dict>
				<key>red</key>
				<integer>104</integer>
				<key>green</key>
				<integer>138</integer>
				<key>blue</key>
				<integer>134</integer>
				<key>alpha</key>
				<real>0.3</real>
			</dict>
		</dict>
		<key>generic_5</key>
		<dict>
			<key>timeOfDay</key>
			<string>evening</string>
			<key>backgroundColor</key>
			<dict>
				<key>red</key>
				<integer>102</integer>
				<key>green</key>
				<integer>140</integer>
				<key>blue</key>
				<integer>92</integer>
				<key>alpha</key>
				<real>1</real>
			</dict>
			<key>overlayColor</key>
			<dict>
				<key>red</key>
				<integer>59</integer>
				<key>green</key>
				<integer>103</integer>
				<key>blue</key>
				<integer>52</integer>
				<key>alpha</key>
				<real>0.3</real>
			</dict>
		</dict>
		<key>generic_6</key>
		<dict>
			<key>timeOfDay</key>
			<string>evening</string>
			<key>backgroundColor</key>
			<dict>
				<key>red</key>
				<integer>97</integer>
				<key>green</key>
				<integer>79</integer>
				<key>blue</key>
				<integer>52</integer>
				<key>alpha</key>
				<real>1</real>
			</dict>
			<key>overlayColor</key>
			<dict>
				<key>red</key>
				<integer>74</integer>
				<key>green</key>
				<integer>59</integer>
				<key>blue</key>
				<integer>42</integer>
				<key>alpha</key>
				<real>0.3</real>
			</dict>
		</dict>
		<key>generic_7</key>
		<dict>
			<key>timeOfDay</key>
			<string>latenight</string>
			<key>backgroundColor</key>
			<dict>
				<key>red</key>
				<integer>50</integer>
				<key>green</key>
				<integer>51</integer>
				<key>blue</key>
				<integer>75</integer>
				<key>alpha</key>
				<real>1</real>
			</dict>
			<key>overlayColor</key>
			<dict>
				<key>red</key>
				<integer>37</integer>
				<key>green</key>
				<integer>41</integer>
				<key>blue</key>
				<integer>58</integer>
				<key>alpha</key>
				<real>0.3</real>
			</dict>
		</dict>
		<key>generic_8</key>
		<dict>
			<key>timeOfDay</key>
			<string>latenight</string>
			<key>backgroundColor</key>
			<dict>
				<key>red</key>
				<integer>58</integer>
				<key>green</key>
				<integer>46</integer>
				<key>blue</key>
				<integer>71</integer>
				<key>alpha</key>
				<real>1</real>
			</dict>
			<key>overlayColor</key>
			<dict>
				<key>red</key>
				<integer>31</integer>
				<key>green</key>
				<integer>29</integer>
				<key>blue</key>
				<integer>41</integer>
				<key>alpha</key>
				<real>0.3</real>
			</dict>
		</dict>
		<key>generic_9</key>
		<dict>
			<key>timeOfDay</key>
			<string>latenight</string>
			<key>backgroundColor</key>
			<dict>
				<key>red</key>
				<integer>67</integer>
				<key>green</key>
				<integer>67</integer>
				<key>blue</key>
				<integer>70</integer>
				<key>alpha</key>
				<real>1</real>
			</dict>
			<key>overlayColor</key>
			<dict>
				<key>red</key>
				<integer>50</integer>
				<key>green</key>
				<integer>50</integer>
				<key>blue</key>
				<integer>50</integer>
				<key>alpha</key>
				<real>0.3</real>
			</dict>
		</dict>
		<key>generic_10</key>
		<dict>
			<key>timeOfDay</key>
			<string>latenight</string>
			<key>backgroundColor</key>
			<dict>
				<key>red</key>
				<integer>50</integer>
				<key>green</key>
				<integer>66</integer>
				<key>blue</key>
				<integer>40</integer>
				<key>alpha</key>
				<real>1</real>
			</dict>
			<key>overlayColor</key>
			<dict>
				<key>red</key>
				<integer>33</integer>
				<key>green</key>
				<integer>49</integer>
				<key>blue</key>
				<integer>30</integer>
				<key>alpha</key>
				<real>0.3</real>
			</dict>
		</dict>
		<key>generic_11</key>
		<dict>
			<key>timeOfDay</key>
			<string>latenight</string>
			<key>backgroundColor</key>
			<dict>
				<key>red</key>
				<integer>78</integer>
				<key>green</key>
				<integer>63</integer>
				<key>blue</key>
				<integer>42</integer>
				<key>alpha</key>
				<real>1</real>
			</dict>
			<key>overlayColor</key>
			<dict>
				<key>red</key>
				<integer>58</integer>
				<key>green</key>
				<integer>46</integer>
				<key>blue</key>
				<integer>32</integer>
				<key>alpha</key>
				<real>0.3</real>
			</dict>
		</dict>
		<key>generic_12</key>
		<dict>
			<key>timeOfDay</key>
			<string>day</string>
			<key>backgroundColor</key>
			<dict>
				<key>red</key>
				<integer>97</integer>
				<key>green</key>
				<integer>136</integer>
				<key>blue</key>
				<integer>179</integer>
				<key>alpha</key>
				<real>1</real>
			</dict>
			<key>overlayColor</key>
			<dict>
				<key>red</key>
				<integer>54</integer>
				<key>green</key>
				<integer>96</integer>
				<key>blue</key>
				<integer>142</integer>
				<key>alpha</key>
				<real>0.3</real>
			</dict>
		</dict>
		<key>generic_13</key>
		<dict>
			<key>timeOfDay</key>
			<string>day</string>
			<key>backgroundColor</key>
			<dict>
				<key>red</key>
				<integer>123</integer>
				<key>green</key>
				<integer>173</integer>
				<key>blue</key>
				<integer>110</integer>
				<key>alpha</key>
				<real>1</real>
			</dict>
			<key>overlayColor</key>
			<dict>
				<key>red</key>
				<integer>80</integer>
				<key>green</key>
				<integer>136</integer>
				<key>blue</key>
				<integer>67</integer>
				<key>alpha</key>
				<real>0.3</real>
			</dict>
		</dict>
		<key>generic_14</key>
		<dict>
			<key>timeOfDay</key>
			<string>day</string>
			<key>backgroundColor</key>
			<dict>
				<key>red</key>
				<integer>129</integer>
				<key>green</key>
				<integer>192</integer>
				<key>blue</key>
				<integer>183</integer>
				<key>alpha</key>
				<real>1</real>
			</dict>
			<key>overlayColor</key>
			<dict>
				<key>red</key>
				<integer>109</integer>
				<key>green</key>
				<integer>162</integer>
				<key>blue</key>
				<integer>156</integer>
				<key>alpha</key>
				<real>0.3</real>
			</dict>
		</dict>
		<key>generic_15</key>
		<dict>
			<key>timeOfDay</key>
			<string>evening</string>
			<key>backgroundColor</key>
			<dict>
				<key>red</key>
				<integer>194</integer>
				<key>green</key>
				<integer>112</integer>
				<key>blue</key>
				<integer>101</integer>
				<key>alpha</key>
				<real>1</real>
			</dict>
			<key>overlayColor</key>
			<dict>
				<key>red</key>
				<integer>164</integer>
				<key>green</key>
				<integer>79</integer>
				<key>blue</key>
				<integer>74</integer>
				<key>alpha</key>
				<real>0.3</real>
			</dict>
		</dict>
		<key>generic_16</key>
		<dict>
			<key>timeOfDay</key>
			<string>day</string>
			<key>backgroundColor</key>
			<dict>
				<key>red</key>
				<integer>239</integer>
				<key>green</key>
				<integer>206</integer>
				<key>blue</key>
				<integer>128</integer>
				<key>alpha</key>
				<real>1</real>
			</dict>
			<key>overlayColor</key>
			<dict>
				<key>red</key>
				<integer>226</integer>
				<key>green</key>
				<integer>159</integer>
				<key>blue</key>
				<integer>78</integer>
				<key>alpha</key>
				<real>0.3</real>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
